@font-face {
  font-weight: 400;
  font-family: 'YS Text';
  src: url() format('woff2');
}

@font-face {
  font-weight: 500;
  font-family: 'YS Text';
  src: url() format('woff2');
}

:root {
  font-size: 16px;
  box-sizing: border-box;
}

:root * {
  box-sizing: inherit;
}

body {
  margin: 0;
}
