@font-face {
  font-weight: 400;
  font-family: "YS Text";
  src: url("/src/assets/fonts/text-regular.woff2") format("woff2");
}

@font-face {
  font-weight: 500;
  font-family: "YS Text";
  src: url("/src/assets/fonts/text-medium.woff2") format("woff2");
}

@font-face {
  font-weight: 700;
  font-family: "YS Text";
  src: url("/src/assets/fonts/text-bold.woff2") format("woff2");
}

:root {
  font-size: 16px;
  box-sizing: border-box;

  /*variables*/

  /*colors*/
  --c-black: #000000;
  --c-gray: #cccccc;
  --c-white: #ffffff;
  --c-bg-action: #ffcc00;
  --c-bg-action-hover: #f2c200;
  --c-bg-control: #e6e6e6;
  --c-bg-control-hover: #dbdbdb;
  --c-bg-control-disabled: #f2f2f2;
  --c-text-disbaled: #7f7f7f;
  --c-focus-border: #b3b3b3;
  --c-active-focus-border: #b38f00;
  --c-red-500: #ff3333;
  --c-a-hover: #e00000;
  --c-bg-footer: #f0f2f3;
  --c-blue-grey-500: #7f8285;
  --c-green: #00b341;
  --c-input-border: #d9d9d9;
  --c-blue-grey-600: #434445;
  --c-blue-grey-50: #f0f2f3;
  --c-orange-500: #ff9a00;

  /*z-indexes*/
  --z-modal-overlay: 500;
  --z-modal: 100;
  --z-loading: 1000;
}

:root * {
  box-sizing: inherit;
}

body {
  margin: 0;

  color: var(--c-black);
  font: 400 0.8125rem/1.25 "YS Text", sans-serif;

  background-color: var(--c-white);
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

.pos-relative {
  position: relative;
}

.grid-centred {
  display: grid;
  place-items: center;
}

.mt-8 {
  margin-top: 8px;
}

.mt-24 {
  margin-top: 20px;
}

.mt-32 {
  margin-top: 32px;
}

.ml-5 {
  margin-left: 5px;
}

.c-blue-grey {
  color: var(--c-blue-grey-500);
}

.c-blue-grey-600 {
  color: var(--c-blue-grey-600);
}

.c-black {
  color: var(--c-black);
}

.ta-center {
  text-align: center;
}

.opacity-30 {
  opacity: 0.3;
}

.opacity-65 {
  opacity: 0.65;
}

@media (max-width: 480px) {
  .desktop-only {
    display: none;
  }
}
